<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">

	<display-name>DTIApp</display-name>

    <!-- Existing -->
	<servlet>
		<servlet-name>DTIApp</servlet-name>
		<servlet-class>com.dti.app.common.DTIApp</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>

    <!-- Aliased version -->
	<servlet>
		<servlet-name>DTIGatewayServlet</servlet-name>
		<display-name>DTIGatewayServlet</display-name>
		<servlet-class>com.dti.app.common.DTIApp</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
    <servlet-mapping>
        <servlet-name>DTIGatewayServlet</servlet-name>
        <url-pattern>/DTIGatewayServlet</url-pattern>
    </servlet-mapping>	

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<description></description>
		<res-ref-name>DTIDataSource</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Application</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

</web-app>



