<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "./log4j.dtd">
<log4j:configuration debug="false" threshold="null" xmlns:log4j="http://jakarta.apache.org/log4j/">
	<renderer renderedClass="com.disney.logging.audit.Event" renderingClass="pvt.disney.dti.gateway.util.FileRenderer" />
	<!-- renderer renderedClass="com.disney.logging.audit.Event" renderingClass="com.disney.log4j.renderer.EventXmlRenderer"/> -->
	<!-- <renderer renderedClass="com.disney.logging.audit.Event" renderingClass="com.disney.log4j.renderer.EventTextRenderer"/> -->
	<!-- <renderer renderedClass="any class you want" renderingClass="com.disney.log4j.renderer.ReflectionObjectXmlRenderer"/> -->
	<!-- DO NOT REMOVE... this is for configuration of Log Levels and LoggingInfoMapper -->
	<appender class="com.disney.logging.Configurator" name="CONFIG">
		<!--<param name="logLevel" value="40"/> -->
		<param name="logObjects" value="30000" />
		<param name="loggingInfoMapperClassName" value="pvt.disney.dti.gateway.util.DTILoggingInfoMapper" />
		<param name="retrieveTrackers" value="true" />
	</appender>
	<appender class="com.disney.log4j.jdbc.JdbcEventAppender" name="JDBC_LOGS">
		<param name="JdbcDefName" value="DTIDataSource" />
		<filter class="com.disney.log4j.EventFilter" />
	</appender>
	<appender class="org.apache.log4j.AsyncAppender" name="GATEASYNC">
		<layout class="pvt.disney.dti.gateway.util.FileLayout" />
		<appender-ref ref="GATE_FILE" />
	</appender>
	<appender class="org.apache.log4j.AsyncAppender" name="CLIENTASYNC">
		<layout class="pvt.disney.dti.gateway.util.FileLayout" />
		<appender-ref ref="CLIENT_FILE" />
	</appender>
	<appender class="org.apache.log4j.AsyncAppender" name="VIEWASYNC">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m" />
		</layout>
		<appender-ref ref="VIEWER_ARCHIVE" />
	</appender>
	<appender class="com.disney.log4j.appender.ArchiveRollingFileAppender" name="VIEWER_ARCHIVE">
		<param name="File" value="c:/logs/dti//viewer/log.xml" />
		<param name="MaxFileSize" value="64KB" />
		<param name="ZipTimestamp" value="yyyyMMdd" />
		<layout class="com.disney.log4j.EventXmlLayout" />
	</appender>
	<appender class="org.apache.log4j.FileAppender" name="GATE_FILE">
		<param name="File" value="c:/logs/dti//DTIGATE.log" />
		<layout class="pvt.disney.dti.gateway.util.FileLayout" />
	</appender>
	<appender class="org.apache.log4j.FileAppender" name="CLIENT_FILE">
		<param name="File" value="c:/logs/dti//DTICLIENT.log" />
		<layout class="pvt.disney.dti.gateway.util.FileLayout" />
	</appender>
	<appender class="org.apache.log4j.FileAppender" name="DEVNULL">
		<param name="File" value="c:/logs/dti/devnull.log" />
		<layout class="com.disney.log4j.EventTextLayout" />
	</appender>
	<appender class="org.apache.log4j.ConsoleAppender" name="STDOUT">
		<layout class="com.disney.log4j.EventTextLayout" />
	</appender>
	<logger additivity="true" name="com.dti.app.common">
		<level value="DEBUG" />
		<appender-ref ref="GATEASYNC" />
		<appender-ref ref="VIEWASYNC" />
	</logger>
	<logger additivity="true" name="pvt.disney.dti">
		<level value="DEBUG" />
		<appender-ref ref="GATEASYNC" />
		<appender-ref ref="VIEWASYNC" />
	</logger>
	<logger additivity="true" name="pvt.disney.dti.gateway.client">
		<level value="DEBUG" />
		<appender-ref ref="CLIENTASYNC" />
		<appender-ref ref="VIEWASYNC" />
	</logger>
	<!-- SHANNON TRYING TO GET DLRCLIENT LOGGING WORKING -->
	<logger additivity="true" name="pvt.disney.dti.gateway.client.DLRHTTPClient">
		<level value="DEBUG" />
		<appender-ref ref="CLIENT_FILE" />
	</logger>
	<!-- DO NOT REMOVE... this is for configuration of Log Levels and LoggingInfoMapper -->
	<logger additivity="false" name="CONFIG_ONLY">
		<level value="WARN" />
		<appender-ref ref="CONFIG" />
	</logger>
	<root>
		<level value="WARN" />
		<appender-ref ref="DEVNULL" />
		<appender-ref ref="STDOUT" />
	</root>
</log4j:configuration>
