<?xml version="1.0" encoding="UTF-8"?>
<!-- BEGIN BEAN definitions -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- BEGIN general endpoint mappers -->
	<bean class="org.springframework.ws.server.endpoint.adapter.PayloadEndpointAdapter">
		<description>
			This adapter allows for endpoints which implement the
			PayloadEndpoint interface.
		</description>
	</bean>

	<!-- BEGIN BEAN ID DTI SPECIFIC ENDPOINT CLASSES -->
	<bean id="dtiSoapEndpoint" class="com.dti.app.ws.DTISoapEndpoint">
		<description>
			This endpoint handles a dti soap request
		</description>
	</bean>
	<bean id="larpSoapEndpoint" class="com.dti.app.ws.LateResponseEndpoint">
		<description>
			This endpoint handles a Late Response Process soap request
		</description>
	</bean>

	<bean id="genericEndpoint" class="com.dti.app.ws.LateResponseEndpoint">
		<description>
			This endpoint handles a Generic Request, we assume it is a
			larp response as a request
		</description>
	</bean>
	<!-- END BEAN ID DTI SPECIFIC ENDPOINT CLASSES -->


	<bean id="larpValidatingInterceptor" class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor">
		<property name="xsdSchemaCollection" ref="larpSchemaCollection" />
		<property name="validateRequest" value="true" />
		<property name="validateResponse" value="true" />
	</bean>

	<!-- BEGIN DEFINE WSDLS -->
	<!-- dynamic wsdl: it generates at http://<hostname:<port>/DTIApp/services/PMSRTicketingService/LarpResponseService.wsdl However, we have manually published it to http://<host>:<port>/DTIApp/LarpResponseService.wsdl 
		which is why it is located in the top of the webapp directory -->
	<bean id="LarpResponseService" class="org.springframework.ws.wsdl.wsdl11.SimpleWsdl11Definition">
		<constructor-arg value="/IagoLateResponseService.wsdl" />
	</bean>

	<!-- BEGIN XSD DEFINITIONS -->
	<!-- schema collection used for passthroughs msg validation -->
	<bean id="larpSchemaCollection" class="org.springframework.xml.xsd.commons.CommonsXsdSchemaCollection">
		<description>This bean wraps the LARP xsd's.</description>
		<property name="xsds">
			<list>
				<!-- pre cr 636 -->
				<value>/IagoLateResponseAnswer.xsd</value>
				<value>/ControlAnswer.xsd</value>
				<value>/ControlAnswerProxy.xsd</value>
				<value>/CreateTransactionAnswer.xsd</value>
				<value>/CreateTransactionAnswerProxy.xsd</value>
				<value>/EnhancedQueryProductAnswer.xsd</value>
				<value>/EnhancedQueryProductAnswerProxy.xsd</value>
				<value>/ManageReservationAnswer.xsd</value>
				<value>/ManageReservationAnswerProxy.xsd</value>
				<value>/ManageSeatAnswer.xsd</value>
				<value>/ManageSeatAnswerProxy.xsd</value>
				<value>/ManageVoucherAnswer.xsd</value>
				<value>/ManageVoucherAnswerProxy.xsd</value>
				<value>/QueryAssignSeatingShowAnswer.xsd</value>
				<value>/QueryAssignSeatingShowAnswerProxy.xsd</value>
				<value>/QueryDemographicAnswer.xsd</value>
				<value>/QueryDemographicAnswerProxy.xsd</value>
				<value>/QueryEventsAnswer.xsd</value>
				<value>/QueryEventsAnswerProxy.xsd</value>
				<value>/QueryPriceListAnswer.xsd</value>
				<value>/QueryPriceListAnswerProxy.xsd</value>
				<value>/QueryProductAnswer.xsd</value>
				<value>/QueryProductAnswerProxy.xsd</value>
				<value>/QueryShowAnswer.xsd</value>
				<value>/QueryShowAnswerProxy.xsd</value>
				<value>/QueryTicketAnswer.xsd</value>
				<value>/QueryTicketAnswerProxy.xsd</value>
				<value>/QueryTransactionAnswer.xsd</value>
				<value>/QueryTransactionAnswerProxy.xsd</value>
				<value>/RenewTicketAnswer.xsd</value>
				<value>/RenewTicketAnswerProxy.xsd</value>
				<value>/UpdateDemographicAnswer.xsd</value>
				<value>/UpdateDemographicAnswerProxy.xsd</value>
				<value>/UpdateTicketAnswer.xsd</value>
				<value>/UpdateTicketAnswerProxy.xsd</value>
				<value>/UpdateTransactionAnswer.xsd</value>
				<value>/UpdateTransactionAnswerProxy.xsd</value>
				<value>/UpgradeTicketAnswer.xsd</value>
				<value>/UpgradeTicketAnswerProxy.xsd</value>
				<value>/VoidTicketAnswer.xsd</value>
				<value>/VoidTicketAnswerProxy.xsd</value>
				<value>/VoidTransactionAnswer.xsd</value>
				<value>/VoidTransactionAnswerProxy.xsd</value>
			</list>
		</property>
		<property name="inline" value="true" />
	</bean>
	<!-- END DEFINE WSDLS -->


	<!-- END DEFINE WSDLS -->

	<!-- BEGIN PAYLOAD TO ENDPOINT MAPPING -->
	<!-- BEGIN pmsr endpoint mapping -->
	<bean id="payloadMapping" class="org.springframework.ws.server.endpoint.mapping.PayloadRootQNameEndpointMapping">
		<description>
			This endpoint mapping uses the qualified name of the payload
			(body contents) to determine the endpoint for an incoming
			message. Every message is passed to the LARP
			endpoint. Note
			that while it may seem odd to have "requests" come in as
			"responses", this is appropriate for a late response
			processor, when responses are being sent back to a
			program
			out-of-band.
		</description>
		<!-- BEGIN LARP PASS_THROUGH ENDPOINT MAPPINGS -->
		<property name="mappings">
			<props>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/ControlAnswer}Command">
					larpSoapEndpoint
				</prop>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/CreateTransactionAnswer}Command">
					larpSoapEndpoint
				</prop>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/EnhancedQueryProductAnswer}Command">
					larpSoapEndpoint
				</prop>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/ManageReservationAnswer}Command">
					larpSoapEndpoint
				</prop>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/ManageSeatAnswer}Command">
					larpSoapEndpoint
				</prop>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/ManageVoucherAnswer}Command">
					larpSoapEndpoint
				</prop>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/QueryAssignSeatingShowAnswer}Command">
					larpSoapEndpoint
				</prop>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/QueryDemographicAnswer}Command">
					larpSoapEndpoint
				</prop>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/QueryEventsAnswer}Command">
					larpSoapEndpoint
				</prop>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/QueryEventsAnswer}Command">
					larpSoapEndpoint
				</prop>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/QueryPriceListAnswer}Command">
					larpSoapEndpoint
				</prop>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/QueryProductAnswer}Command">
					larpSoapEndpoint
				</prop>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/QueryShowAnswer}Command">
					larpSoapEndpoint
				</prop>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/QueryTicketAnswer}Command">
					larpSoapEndpoint
				</prop>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/QueryTransactionAnswer}Command">
					larpSoapEndpoint
				</prop>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/RenewTicketAnswer}Command">
					larpSoapEndpoint
				</prop>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/UpdateTicketAnswer}Command">
					larpSoapEndpoint
				</prop>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/UpdateTransactionAnswer}Command">
					larpSoapEndpoint
				</prop>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/UpgradeTicketAnswer}Command">
					larpSoapEndpoint
				</prop>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/VoidTicketAnswer}Command">
					larpSoapEndpoint
				</prop>
				<prop key="{http://services.nexus.wdw.com/NexusTicketingService/types/VoidTransactionAnswer}Command">
					larpSoapEndpoint
				</prop>
			</props>
		</property>
		<!-- END LARP PASS_THROUGH ENDPOINT MAPPINGS -->
	</bean>

	<bean id="messageDispatcher" class="org.springframework.ws.soap.server.SoapMessageDispatcher">
		<description>
			This sends all unknown messages to the late response endpoint
		</description>
		<property name="endpointMappings">
			<bean class="org.springframework.ws.server.endpoint.mapping.PayloadRootQNameEndpointMapping">
				<property name="defaultEndpoint">
					<bean class="com.dti.app.ws.LateResponseEndpoint" />
				</property>
			</bean>
		</property>
	</bean>

</beans>
